<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>
	<dataConfiguration defaultDatabase="default"/>
	<connectionStrings>
		<add name="default" connectionString="Data Source=10.4.30.40;Database=ST_Dev;User ID=sa;Password=" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="cmdQueryTables" value="SELECT [Name] AS TableName FROM sys.tables WHERE is_ms_shipped = 0 AND [name] NOT LIKE 'webpages_%' ORDER BY TableName"/>
		<add key="cmdQueryViews" value="SELECT [Name] AS ViewName FROM sys.views WHERE is_ms_shipped = 0 ORDER BY ViewName"/>
		<add key="defaultNamespace" value="CAF.Business.Entities"/>
	</appSettings>
</configuration>